.footer-text {
    color: #1D1C1A
}
.footer-container {
    background-color: #71e0cf;
    margin-top: 50px;
}
.footer-copyright {
    background-color: #ffef95;
    font-size: 14px;
    color: #2F6030
}